<!DOCTYPE html>
<!-- 声明文档类型-->
<html lang="en">
<!-- 确定语言形态 -->
<head>
    <meta charset="UTF-8">
    <!--控制网页的编码格式 utf-8 国际性编码-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--控制视口比例以及缩放-->
    <title>首页</title>
    <!-- 先引入重置样式表和公共样式表以及主页样式表 -->
    <link rel="stylesheet" href="../../resources/reset.css">
    <link rel="stylesheet" href="../../resources/public.css">
    <link rel="stylesheet" href="../../resources/index.css">
    <!-- 这个顺序引入更规范 -->

</head>

<body>
<!-- 这是网页的头部版心盒子 -->
<div class="header_con">

</div>
<!-- 导航栏平铺部分：会显示黑色啦 -->
<div id="nav">
    <!-- 导航栏版心部分 -->
    <div class="nav_con">
        <ul>
            <li class="margin-left"><a href="#">首页</a></li>
            <li><a href="#">图书馆书籍管理</a></li>
            <li><a href="#">借阅请求审核</a></li>
            <li><a href="#">还书管理</a></li>
            <li><a href="#">借阅者管理</a></li>
            <li><a href="#">管理员账户管理</a></li>
        </ul>
    </div>
</div>

<!-- 市场项目那一部分 -->
<div class="case_con">
    <div class="case_box">
        <div>


        <dl>
            <dt><img src="./imag/1.png" alt=""></dt>
            <dd>书名：《网络与分布》</dd>
            <dd>作者：王小溪</dd>
            <dd>馆藏：北大出版社</dd>
            <dd>在馆：1</dd>
            <dd><a href="#">查看详细</a>   <a href="#">删除</a></dd>
        </dl>
        </div>
        <div class="case_con_footBoxLine">
            <text class="case_con_footLine">testContent</text>
        </div>
    </div>
</div>
<!-- 产品中心那一部分的平铺-->
<div id="links">
    <!-- 这个顺序引入更规范 -->
    <div class="links_con">
        <!-- 版心部分 -->
        <!-- 左边的盒子 -->
        <div class="links_l">
            <h3 class="links_title">课程名</h3>
            <ul class="links_list">
                <li>
                    <a href="#">企业级应用程序设计</a>
                </li>
            </ul>
        </div>
        <!-- 中间的盒子 -->
        <div class="links_c">
            <h3 class="links_title">项目</h3>
            <ul class="links_list">
                <li>
                    <a href="#">图书馆管理系统</a>
                </li>
            </ul>
        </div>
    </div>
</div>


</body>

</html>